<%= form_with model: @blog_post do |f| %>
  <% if f.object.errors.any? %>
    <div>
      <% f.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %><br>
    <%= f.rich_text_area :content %>
  </div>
  <div>
    <%= f.label :published_at %><br>
    <%= f.datetime_select :published_at, include_blank: true %>
  </div>
  <div>
        <%= f.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-4" %>
  </div>
<% end %>