<!DOCTYPE html>
<html>
  <head>
    <title>Studio Notes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="mx-auto">
     <div
    class="flex gap-2 justify-between px-16 py-4 text-sm font-semibold tracking-wider leading-5 uppercase bg-slate-900 max-md:flex-wrap max-md:px-5"
  >
    <div
      class="flex gap-5 justify-between whitespace-nowrap text-neutral-100 max-md:flex-wrap"
    >
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc3006d4354eef3c5cede4b6799eb6bceea0407a47bfea08a7fff273ea2941be?"
        class="aspect-[6.25] w-[269px]"
      />
      <div class="flex gap-5 justify-between max-md:flex-wrap">
        <div
          class="justify-center items-center py-3 border-0 border-yellow-700 border-solid h-[45px] w-[45px]"
        >
          HOME
        </div>
        <div class="my-auto">instructors</div>
        <div
          class="justify-center items-center py-3 w-11 h-11 border border-black border-solid"
        >
          GIFTS
        </div>
        <div
          class="justify-center py-3 border-b-2 border-yellow-700 border-solid"
        >
          BLOG
        </div>
        <div class="my-auto">MEMBERSHIP</div>
      </div>
    </div>
    <div class="flex gap-2 text-white">
     
      <div class="justify-center px-6 py-3 bg-yellow-700 max-md:px-5">
        start learning
      </div>
    </div>
  </div>
    <h1 class="text-center mt-4">Studio Notes</h1>

    <div class="flex flex-col items-center text-center text-slate-900">
    <img
      loading="lazy"
      srcSet="blogtest2024.b-cdn.net/dawn.jpg"
      class="self-stretch w-full aspect-[2.38] max-md:max-w-full"
    />
    <div class="mt-5 text-lg leading-10 font-[420] tracking-[2.7px]">
      ARTICLE
    </div>
    <div class="mt-2.5 text-4xl font-medium leading-10 max-md:max-w-full">
      Learn to take photographs like a pro with Jason Ingram
    </div>
    <div
      class="mt-2.5 text-2xl leading-8 underline font-[390] text-neutral-700"
    >
      Read article
    </div>
  </div>
    <div class="w-full bg-navblue-950 h-12"></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= link_to "New blog post", new_blog_post_path %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
    <main class="mx-auto flex">
    <%= yield %>
    </main>
  </body>
</html>


